{% extends 'WarbleMediaPhoenixBundle:Developer:layout.html.twig' %}

{% block main_content %}
    <div class="card">
        <div class="card-header">
            {% if query %}
                <a href="{{ path('warble_media_phoenix_developer_users', {'query': query}) }}" class="btn btn-secondary float-xs-left mr-2" title="Back to search results">
                    <i class="fa fa-chevron-left"></i>
                </a>
            {% endif %}

            <div class="float-xs-left btn-table-align">
                {{ profile.name }}
            </div>

            {% if app.user.id != profile.id %}
                <div class="float-xs-right">
                    <a href="{{ path('warble_media_phoenix_settings', {'_switch_user': profile.username}) }}" class="btn btn-secondary">
                        Impersonate
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-3 text-xs-center">
                    <img src="{{ profile.photoUrl }}" width="125" height="125" class="rounded-circle img-thumbnail">
                </div>
                <div class="col-md-9">
                    <p>
                        <strong>Email Address:</strong>
                        <a href="mailto:{{ profile.email }}">{{ profile.email }}</a>
                    </p>
                    <p>
                        <strong>Joined:</strong>
                        {{ profile.createdAt|date('F j, Y - g:ia') }}
                    </p>
                    <p>
                        <strong>Subscription:</strong>
                        {% if activePlan %}
                            <a href="https://dashboard.stripe.com/customers/{{ customer.stripeId }}" target="_blank">
                                {{ activePlan.name }} ({{ activePlan.interval|capitalize }})
                            </a>
                        {% else %}
                            None
                        {% endif %}
                    </p>
                    <p>
                        <strong>Total Revenue:</strong>
                        {{ totalRevenue|currency }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
