{% set active_interval = activePlan ? activePlan.interval : 'monthly' %}
{% if subscription and subscription.expired %}
    {% set active_interval = 'monthly' %}
{% endif %}
{% for interval, plans in {monthly: get_paid_monthly_plans(), yearly: get_paid_yearly_plans()} if plans is not empty %}
    <div id="subscriptions_{{ interval }}" class="tab-pane table-responsive{% if interval == active_interval %} active{% endif %}">
        <table class="table table-borderless mb-0">
            <tbody>
                {% for plan in plans %}
                    <tr>
                        <td>
                            <div class="btn-table-align">
                                <strong>{{ plan.name }}</strong>
                            </div>
                        </td>

                        <td>
                            <button class="btn btn-secondary ml-1" data-toggle="modal" data-target="#modal-plan-{{ plan.id }}">
                                Plan Features
                            </button>
                        </td>

                        <td>
                            <div class="btn-table-align">
                                {{ plan.price|currency }} / {{ plan.interval|capitalize }}
                            </div>
                        </td>

                        <td>
                            {% if plan.trialDays %}
                                <div class="btn-table-align">
                                    {{ plan.trialDays}} Day Trial
                                </div>
                            {% endif %}
                        </td>

                        <td class="text-xs-right">
                            {% block action_button %}{% endblock %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
