<div class="card panel-default">
    <div class="card-header">
        <div class="card-header-tabs-align float-xs-left">Resume Subscription</div>
        {% include "WarbleMediaPhoenixBundle:Settings/subscription:interval_switcher.html.twig" %}
    </div>
    <div class="card-block pb-0">
        {% if activePlan %}
            <p class="card-text">
                You have cancelled your subscription to the
                <strong>{{ activePlan.name }} ({{ activePlan.interval|capitalize }})</strong> plan.
            </p>
        {% endif %}

        <p class="card-text">
            The benefits of your subscription will continue until your current billing period ends on
            <strong>{{ subscription.endsAt|date('F j, Y') }}</strong>. You may resume your subscription at no
            extra cost until the end of the billing period.
        </p>
    </div>
    <div class="card-block">
        <div class="tab-content">
            {% embed "WarbleMediaPhoenixBundle:Settings/subscription:plans_table.html.twig" %}
                {% block action_button %}
                    {# Onclick is used here as the usual modal data-api was making the modal
                       instantly close. It has something to do with the radio input inside this
                       "button" but I'm not sure what the exact issue is. #}
                    <label class="plan-select" onclick="$('#modal-switch-{{ plan.id }}').modal('show')">
                        <input type="radio" name="{{ form.plan.vars.full_name }}" value="{{ plan.id }}">
                        {% if activePlan and activePlan.id == plan.id %}
                            <span class="btn btn-warning btn-plan">Resume</span>
                        {% else %}
                            <span class="btn btn-outline-warning btn-plan">Switch</span>
                        {% endif %}
                    </label>
                {% endblock %}
            {% endembed %}
            {% do form.plan.setRendered %}
        </div>
    </div>
</div>
