<div class="card panel-default">
    <div class="card-header">
        <div class="btn-table-align pull-xs-left">Subscribe</div>

        {% if monthlyPlans is not empty and yearlyPlans is not empty %}
            <ul class="nav nav-pills pull-xs-right">
                <li class="nav-item"><a href="#subscriptions_monthly" class="btn btn-secondary active" data-toggle="tab">Monthly</a></li>
                <li class="nav-item"><a href="#subscriptions_yearly" class="btn btn-secondary" data-toggle="tab">Yearly</a></li>
            </ul>
        {% endif %}
    </div>
    <div class="card-block p-b-0">
        <p class="card-text">You are not subscribed to a plan. Choose from the plans below to get started.</p>
    </div>
    <div class="card-block">
        <div class="tab-content">
            {% for id, plans in {subscriptions_monthly: monthlyPlans, subscriptions_yearly: yearlyPlans} if plans is not empty %}
                <div id="{{ id }}" class="tab-pane table-responsive{% if loop.first %} active{% endif %}">
                    <table class="table table-borderless m-b-0">
                        <tbody>
                            {% for plan in plans %}
                                <tr>
                                    <td>
                                        <div class="btn-table-align">
                                            <strong>{{ plan.name }}</strong>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="btn-table-align">
                                            {{ plan.price | currency }} / {{ plan.interval | capitalize }}
                                        </div>
                                    </td>

                                    <td>
                                        {% if plan.trialDays %}
                                            <div class="btn-table-align">
                                                {{ plan.trialDays}} Day Trial
                                            </div>
                                        {% endif %}
                                    </td>

                                    <td class="text-xs-right">
                                        {# TODO: Do something when clicked... #}
                                        <button class="btn btn-outline-primary btn-plan">Select</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
