<div class="card panel-default">
    <div class="card-header">
        <div class="card-header-tabs-align pull-xs-left">Update Subscription</div>

        {% if has_monthly_and_yearly_paid_plans() %}
            <ul class="nav nav-tabs card-header-tabs pull-xs-right">
                <li class="nav-item"><a href="#subscriptions_monthly" class="nav-link active" data-toggle="tab">Monthly</a></li>
                <li class="nav-item"><a href="#subscriptions_yearly" class="nav-link" data-toggle="tab">Yearly</a></li>
            </ul>
        {% endif %}
    </div>
    <div class="card-block p-b-0">
        {% if activePlan %}
            <p class="card-text">
                You are currently subscribed to the
                <strong>{{ activePlan.name }} ({{ activePlan.interval | capitalize }})</strong> plan.
            </p>
        {% endif %}

        {% if not activePlan or not activePlan.active %}
            <p class="card-text">
                This plan has been discontinued, but you may continue your subscription to this plan as long as you wish.
                If you cancel your subscription and later want to begin a new subscription, you will need to choose
                from one of the active plans listed below.
            </p>
        {% endif %}
    </div>
    <div class="card-block">
        <div class="tab-content">
            {% embed "WarbleMediaPhoenixBundle:Settings/subscription:plans_table.html.twig" %}
                {% block action_button %}
                    {% if activePlan and activePlan.id == plan.id %}
                        <label class="plan-select">
                            <span class="btn btn-primary btn-plan btn-plan-selected disabled">Current Plan</span>
                        </label>
                    {% else %}
                        {# Onclick is used here as the usual modal data-api was making the modal
                           instantly close. It has something to do with the radio ibput inside this
                           "button" but I'm not sure what the exact issue is. #}
                        <label class="plan-select" onclick="$('#modal-switch-{{ plan.id }}').modal('show')">
                            <input type="radio" name="{{ form.plan.vars.full_name }}" value="{{ plan.id }}">
                            <span class="btn btn-outline-primary btn-plan">Switch</span>
                        </label>
                    {% endif %}
                {% endblock %}
            {% endembed %}
            {% do form.plan.setRendered %}
        </div>
    </div>
</div>
