<nav class="navbar navbar-light bg-faded m-b-3">
    <div class="container">
        <button type="button" class="navbar-toggler pull-xs-right hidden-sm-up" data-toggle="collapse" data-target="#navbar">&#9776;</button>

        {% include "WarbleMediaPhoenixBundle:Navigation:brand.html.twig" %}

        <div id="navbar" class="collapse navbar-toggleable-xs">
            <ul class="nav navbar-nav">
                {% include "WarbleMediaPhoenixBundle:Navigation:user_left.html.twig" %}
            </ul>
            <ul class="nav navbar-nav pull-xs-right">
                {% include "WarbleMediaPhoenixBundle:Navigation:user_right.html.twig" %}

                <li class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ app.user.photoUrl }}" alt="{{ app.user.name }}" height="50" width="50" class="img-thumbnail img-circle">
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <div class="dropdown-header">Impersonation</div>

                            {% set currentRoute = app.request.attributes.get('_route') %}
                            {% set currentParams = app.request.attributes.get('_route_params')|merge(app.request.query.all) %}
                            <a href="{{ path(currentRoute, currentParams|merge({'_switch_user': '_exit'})) }}" class="dropdown-item">Back To My Account</a>

                            <div class="dropdown-divider"></div>
                        {% endif %}

                        {% if is_granted('ROLE_DEVELOPER') %}
                            <div class="dropdown-header">Developer</div>

                            <a href="{{ path('warble_media_phoenix_developer') }}" class="dropdown-item">Developer Settings</a>

                            <div class="divider"></div>
                        {% endif %}

                        <div class="dropdown-header">Settings</div>

                        <a href="{{ path('warble_media_phoenix_settings') }}" class="dropdown-item">Your Settings</a>

                        {% if phoenix.supportEmail %}
                            <div class="dropdown-divider"></div>

                            <div class="dropdown-header">Support</div>

                            <a href="mailto:{{ phoenix.supportEmail }}" class="dropdown-item">Email Us</a>
                        {% endif %}

                        <div class="dropdown-divider"></div>

                        <a href="{{ logout_path() }}" class="dropdown-item">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
